baseURL = "https://zak.ee"
title = "Zakee's Planet"
languageCode = "zh-CN"
defaultContentLanguage = 'zh'
hasCJKLanguage = true
copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License."

[params.author]
  name = "Zakee"

[markup]
  defaultMarkdownHandler = "goldmark"

  [markup.goldmark.renderer]
    unsafe = true
  [markup.goldmark.parser]
    wrapStandAloneImageWithinParagraph = false
  [markup.goldmark.parser.attribute]
    block = true
    title = true
  [markup.goldmark.extensions.typographer]
    disable = true
  [markup.highlight]
    codeFences = true
    guessSyntax = false
    noClasses = false

[taxonomies]
  tag = "tags"

[params]
  images = ["og-image.png"]
  avatar = "avatar.webp"

[menu]

  [[menu.main]]
    name = "Intro"
    pageref = "/"
    weight = 1
    [menu.main.params]
      description = "主页"

  [[menu.main]]
    name = "Writing"
    pageref = "/writing"
    weight = 10
    [menu.main.params]
      description = "文章"

  [[menu.main]]
    name = "Photo"
    pageref = "/photo"
    weight = 20
    [menu.main.params]
      description = "照片"

  [[menu.main]]
    name = "Link"
    pageref = "/link"
    weight = 30
    [menu.main.params]
      description = "联结"

  [[menu.main]]
    name = "About"
    pageref = "/about"
    weight = 40
    [menu.main.params]
      description = "关于"
