#page.error-404 {
  justify-content: center;
  align-items: center;
}
.banner-404 {
  font-size: 1.4rem;
  padding: 1em;
  line-height: normal;
  > h1 {
    font-size: 3em;
    margin: 0;
  }
}
.btn-404 {
  margin-bottom: 0;
  > a {
    display: inline-block;
    font-size: 1.25rem;
    border: 1px solid var(--c-txt-alt);
    padding: .3em .5em;
    margin-right: .5em;
    &:hover {
      border-color: $accent;
    }
    &:active {
      border-style: dashed;
    }
  }
}
