#comments {
  margin-top: 3rem;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  text-align: initial;
}

.comment-form {
  margin: 1em auto;
  border: 1px solid var(--c-txt-alt);
  padding: .5em;

  label {
    display: inline-block;
    width: 100%;
    margin-top: .5em;
    font-size: 90%;
  }

  button {
    width: 100%;
    margin-top: 1em;
    line-height: 2;
  }

  .form-wrapper {
    display: flex;
    gap: .5em;
  }
}

.comment-preview {
  width: 100%;
  min-height: 1em;
  padding: 2px 6px;
  border: 1px dashed var(--c-txt-alt);
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-pagination {
  text-align: center;
}

.comment-group {
  margin-bottom: 1em;

  article {
    display: flex;
    padding-top: 1em;
    border-top: 1px solid var(--c-bg-alt);
  }
}

.comment-new {
  background-image: repeating-linear-gradient(45deg, var(--c-bg) 0px, var(--c-bg) 5px, var(--c-bg-alt) 5px, var(--c-bg-alt) 10px);
  background-size: auto;
}

.comment-avatar {
  margin-right: .8em;

  >img {
    width: 40px;
    height: auto;
    border-radius: 50%;
  }
}

.comment-wrapper {
  position: relative;
  width: 100%;

  >header {
    font-size: 90%;

    .comment-date {
      color: var(--c-txt-alt);
    }
  }

  >main {
    margin: 1em 0;
    overflow-wrap: anywhere;
  }

  img {
    max-width: 100%;
  }
}

.reply-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.replies {
  margin-left: calc(5% + 1rem);
}
