#site-footer {
  font-size: .8em;
  padding-top: 1em;
  margin-top: 2em;
  background-color: var(--c-bg-alt);
  letter-spacing: normal;
}

p.site-copy {
  margin-top: 0;
}

.site-nav > span {
  margin: 0 .2em;
  color: var(--c-txt-alt);
  &:last-child{
    display: none;
  }
}

