.album {
  margin-top: 2rem;

  h2 {
    font-size: 1.25rem;
    margin-bottom: .5em;
  }
}

.album-row {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.img-tile {
  height: 100px;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.album-header {
  font-size: 90%;

  .feather {
    margin-right: .5em;
  }
}

.album-desc {
  margin-block: .5em;
}
