#page.home {
  justify-content: center;
}

#home-center {
  padding: 0 10vw;
  font-size: 1.1rem;
}
#home-title {
  line-height: normal;
  margin-bottom: .3em;
}
#home-social > a {
  margin-right: .5em;
  font-size: 1.5em;
}
#home-nav {
  margin-top: 1rem;
  letter-spacing: normal;
  > a {
    display: inline-block;
    border: 1px solid var(--c-txt-alt);
    padding: 0 .4em;
    font-size: .95rem;
    &:hover {
      border-color: $accent;
    }
    &:active {
      border-style: dashed;
    }
  }
}
#recent-posts {
  margin-top: 3rem;
  > div {
    font-size: 1.2em;

  }
}
.recent-posts-list {
  list-style: none;
  padding-left: 0;
  margin-top: .5rem;
  font-size: 1rem;
  li {
    margin-bottom: .3em;
  }
  span {
    margin-right: .5em;
    font-weight: lighter;
    color: var(--c-txt-alt);
  }
  a {
    display: block;
  }
}
#home-footer {
  margin-top: 1.5rem;
  font-size: .8rem;
  letter-spacing: normal;
}
