.posts-group {
  display: block;
  margin-bottom: 1.9em;
  line-height: normal;

  .post-year {
    padding-top: 6px;
    margin-right: 1.8em;
    font-size: 1.6em;
    color: var(--c-txt-alt);
    &:hover {
      cursor: pointer;
      color: $accent;
    }
  }

  .posts-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post-item > a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 0;
    border-bottom: 1px dashed;
  }

  .post-day {
    flex-shrink: 0;
    margin-left: 1em;
    font-weight: lighter;
    color: var(--c-txt-alt);
  }
}
