.posts-group {
  display: block;
  margin-bottom: 1.9em;
  line-height: normal;

  .post-year {
    padding-top: 6px;
    margin-right: 1.8em;
    font-size: 1.6em;
    color: var(--c-txt-alt);
    &:hover {
      cursor: pointer;
      color: $accent;
    }
  }

  .posts-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post-item > a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 0;
  }

  .post-day {
    flex-shrink: 0;
    margin-left: 1em;
    color: var(--c-txt-alt);
  }
}

// Gallery Page
//
.album {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.album-title {
  margin-bottom: 0;
  font-weight: normal;
  > a {
    border: none;
  }
}

.album-info {
  display: inline-block;
  margin-top: .5em;
  margin-bottom: .8em;
  font-size: .8em;
  color: var(--c-txt-alt);
}

.album-row {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  border: none!important;
  // &::after {
  //   content: '';
  //   display: block;
  //   flex-grow: 10;
  // }
}
.img-tile {
  height: 100px;
  // flex: 1;
  & > img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
}
