
.post-meta {
  margin-bottom: .5em;
  display: flex;
}

#toc-btn {
  position: relative;
  top: -1em;
  color: var(--c-txt-alt);
  font-size: .8em;
  &:hover {
    color: $accent;
  }
}

// TOC
//
#toc {
  display: none;
  color: var(--c-txt-alt);
  padding: 1em;
  background-color: var(--c-bg-alt);
}
.toc-title {
  display: none;
  padding-right: 1em;
  margin-top: 0;
  font-weight: bold;
}

#TableOfContents {
  font-size: .9em;
  a {
    display: block;
    border-bottom: none;
    color: var(--c-txt-alt);
    &:hover {
      color: $accent;
    }
  }
  ul {
    margin: 0;
  }
}

.content {
  margin-top: 1.5rem;
  text-justify: inter-ideograph; //For IE/Edge
  overflow-wrap: break-word;

  @include stylized-link;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  blockquote {
    text-align: left;
  }

  figure {
    height: auto;
    margin: 0;
    text-align: center;
  }
  figcaption > p {
    margin-top: .1rem;
    margin-bottom: 1rem;
    font-size: .8em;
    font-style: italic;
    color: var(--c-txt-alt);
  }
  figure.left {
    float: left;
    margin-right: 1em;
    max-width: 50%;
  }
  figure.right {
    float: right;
    margin-left: 1em;
    max-width: 50%;
  }
  figure.big {
    width: calc(var(--vw) * 100);
    margin-left: -1em;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  video, iframe {
    max-width: 100%;
    height: auto;
  }

  ul,
  ol {
    padding: 0;
    margin-left: 1.8em;
  }

  a.anchor {
    box-shadow: none;
    opacity: .7;
    font-size: 1em;
    &:hover {
      color: $accent;
      opacity: 1;
    }

    .anchor-icon {
      visibility: hidden;
    }
    &:focus .anchor-icon {
      visibility: visible;
    }
  }

  h1:hover .anchor-icon,
  h2:hover .anchor-icon,
  h3:hover .anchor-icon,
  h4:hover .anchor-icon,
  h5:hover .anchor-icon,
  h6:hover .anchor-icon {
    visibility: visible;
  }
}

.footnotes {
  font-size: .8em;

  p {
    margin: 0;
  }

  hr::after {
    content: "# FOOTNOTES #";
    font-size: 1rem;
  }

  a {
    box-shadow: none;
    text-decoration: underline;
    transition-property: color;
    &:hover {
      box-shadow: none;
      color: $accent;
    }
    &.footnote-backref {
      text-decoration: none;
    }
  }
}

a.footnote-ref {
  box-shadow: none;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 2px;
  background-color: var(--c-bg-alt);
  transition-property: background-color;

  &:hover {
    box-shadow: none;
    background-color: $accent;
  }
}

hr.post-end {
  margin: 2rem auto 1rem 0;
  width: 33%;
  height: 0;
  border-top: 3px solid;
  &::after {
    display: none;
  }
}

.post-info {
  font-size: .8rem;
  line-height: normal;
  color: var(--c-txt-alt);

  p {
    margin: .8em 0;
  }

  svg {
    margin-right: .7em;
  }

  a {
    border-bottom: none;
    text-decoration: underline;
    color: var(--c-txt-alt);
    &:hover {
      color: $accent;
    }
  }

  .tag {
    margin-right: .5em;
    &::before {
      content: "#"
    }
  }
}

// Post Navigation
//
.post-nav {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-size: 1.2em;
  padding: .5em;
  border: 1px dashed var(--c-txt-alt);
  > a {
    flex-basis: 50%;
    flex-grow: 1;
    border: none;
  }

  .next-post {text-align: left;}
  .prev-post {text-align: right;}

  .post-nav-label {
    font-size: .8em;
    opacity: .8;
    text-transform: uppercase;
    color: var(--c-txt-alt);
  }
}

#scroll-top-btn {
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: .8rem;
  left: calc(var(--offset) - 2.5rem);
  line-height: 0;
  font-size: 1.5rem;
  border: none;
  color: var(--c-txt-alt);
  background: transparent;
  cursor: pointer;
  animation: slideIn .2s ease-out;
  &:hover {
    color: $accent;
  }
}

// Gallery Page
//
.album-meta {
  color: var(--c-txt-alt);
  font-size: .8rem;
  > p {
    margin: 0;
    &.album-desc {
      margin-top: 1em;
      font-size: .95rem;
    }
    > .feather {
      margin-right: .5em;
    }
  }
}
