{{ define "main" }}
		<div class="page-title">
			<h1>{{.Title}}</h1>
			<div class="dim post-info">{{ dateFormat ":date_long" .Date.Local }} · {{ .WordCount }}字
				{{- with .GetTerms "tags" }} · {{ range . }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end -}}
				{{ end -}}
			</div>
		</div>
		<div class="content">
			{{ with .Params.featuredImage -}}
			{{ with $.Resources.GetMatch . -}}
			<figure class="big">
				<img src="{{.RelPermalink}}" alt="featured image" width="{{.Width}}" height="{{.Height}}">
			</figure>
			{{ end -}}
			{{ end -}}
			{{ if .Params.toc -}}
			<details class="toc-wrapper">
				<summary>目录</summary>
				{{ .TableOfContents }}
			</details>
			{{- end }}
			{{ with .Content -}}{{ . }}{{ end }}
			<ul class="lsn dim post-footer">
				<li>/* 最后更新于{{ dateFormat "2006-01-02 15:04 MST" .Lastmod.UTC }} */</li>
				{{- with .PrevInSection }}
				<li>
					<a href="{{.RelPermalink}}" class="post-item tdln">
						<span>上一篇：{{.Title}}</span>
						<span class="dotted-line"></span>
						<time class="dim">{{ .Date.Format "2006-01-02" }}</time>
					</a>
				</li>
				{{- end }}
				{{- with .NextInSection }}
				<li>
					<a href="{{.RelPermalink}}" class="post-item tdln">
						<span>下一篇：{{.Title}}</span>
						<span class="dotted-line"></span>
						<time class="dim">{{ .Date.Format "2006-01-02" }}</time>
					</a>
				</li>
				{{- end }}
			</ul>
			{{ partialCached "comments.html" . }}
		</div>
{{- end }}