{{ define "main" }}
	<main class="wrapper">
		<h1>{{.Title}}</h1>
		<div class="dim post-info">
			{{ dateFormat ":date_long" .Date.Local }}
			{{- if .Params.toc -}}
			&nbsp;&#183;
			<label for="toc-toggle">目录</label>
			<input type="checkbox" id="toc-toggle">
			<div id="toc">
				{{ .TableOfContents }}
			</div>
			{{- end }}
		</div>
		{{ if .Content -}}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		<ul class="lsn dim post-footer">
			<li>发布于{{ dateFormat "2006-01-02 15:04 MST" .Date.UTC }}，更新于{{ dateFormat "2006-01-02 15:04 MST" .Lastmod.UTC }}</li>
			<li>字&emsp;数：{{ .WordCount }}</li>
			{{- with .Params.tags }}
			<li>标&emsp;签：{{- range . -}}<a href="{{ "tags/" | relURL }}{{ . | urlize }}" class="post-tag">{{.}}</a>{{ end }}</li>
			{{- end }}
			<li></li>
			{{- with .PrevInSection }}
			<li>上一篇：<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
			{{- with .NextInSection }}
			<li>下一篇：<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
		</ul>
		{{ partialCached "comments.html" . }}
	</main>
	<hr>
{{- end }}