// Colors
//
$accent: #54bab9;

// Fonts
//
$fonts: "Trebuchet MS", Tahoma, Verdana, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
$serif-fonts: Palatino, Optima, Georgia, "Source Han Serif SC VF", "Source Han Serif CN VF", "Source Han Serif SC", "Source Han Serif CN", "Noto Serif CJK SC", source-han-serif-sc, serif;
$mono-fonts: "Cascadia Code", "Fira Code", "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", "YaHei Consolas Hybrid", monospace, sans-serif;

// Keyframes
//
@keyframes slideIn {
  from {
    transform: translateY(50%) scale(.8);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
