@import "predefined.scss", "syntax.scss";

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  --c-bg: #f3f6f6;
  --c-bg-alt: #dee8e5;
  --c-txt: #545250;
  --c-txt-alt: #72706e;
  --c-txt-alt2: rgba(114, 112, 110, .3);
  --c-txt-em: #000;
  margin: 0;
  padding: 1.5rem;
  line-height: 1.6;
  letter-spacing: .04rem;

  >main {
    margin-bottom: 5rem;
  }

  >section,
  >nav,
  >footer {
    margin-block: 5rem;
  }
}

body,
button,
input,
select,
textarea {
  color: var(--c-txt);
  background-color: var(--c-bg);
  font-family: $fonts;
  transition: color .5s, background-color .5s, border-color .5s;
}

// Auto light/dark mode
@media (prefers-color-scheme: dark) {
  body {
    --c-bg: #1e1f20;
    --c-bg-alt: #313a3f;
    --c-txt: #adadad;
    --c-txt-alt: #898680;
    --c-txt-alt2: rgba(137, 134, 128, .5);
    --c-txt-em: #fff;
  }

  main img {
    filter: brightness(.9);
    transition: filter .3s;

    &:hover {
      filter: none;
    }
  }
}

// Layouts
//
.wrapper {
  max-width: 50rem;
  margin-inline: auto;
}

h1 {
  margin-top: .5rem;
  margin-bottom: 2rem;
  line-height: 1.25;
  font-size: 1.75em;
}

#home-social a {
  margin-right: 1rem;
}

.recent-posts-list {
  li {
    margin-top: .25rem;
  }

  span {
    margin-right: .5em;
    color: var(--c-txt-alt);
    font-style: italic;
    font-size: 90%;
  }

  a {
    display: block;
  }
}

.site-footer {
  font-size: 75%;
}

// Global style
//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: $serif-fonts;
}

ul,
ol {
  padding-inline-start: 2em;
}


// lsn -> list-style: none
ul.lsn {
  list-style: none;
  padding-inline-start: 0;
}

// lsc -> list-style: circle
ul.lsc {
  list-style: circle;
}

// tdln -> text-decoration-line: none
a.tdln,
.tdln a {
  text-decoration-line: none;
}

.dim {
  color: var(--c-txt-alt)
}

.dimmer {
  color: var(--c-txt-alt2)
}

a {
  color: var(--c-txt);
  text-decoration-color: var(--c-txt-alt2);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
  transition: color .3s, text-decoration-color .3s;

  &:hover {
    color: $accent;
    text-decoration-color: $accent;
  }

  &:active {
    text-decoration-style: dashed;
  }

  &.home {
    text-decoration: none;
    color: var(--c-txt);
  }
}

pre,
code,
pre tt {
  font-family: $mono-fonts;
  letter-spacing: normal;
}

pre {
  padding: .7em 1.1em;
  overflow: auto;
  font-size: 90%;
  line-height: 1.2;
  white-space: pre;
  background-color: var(--c-bg-alt);

  code {
    padding: 0;
    margin: 0;
    background: transparent;
  }
}

code {
  background: var(--c-bg-alt);
  padding: 0 3px;
  margin: 0 4px;
}

blockquote {
  margin: 1.5em 1em;
  font-style: italic;
  font-family: $serif-fonts;
  letter-spacing: normal;
  color: var(--c-txt-alt);

  &::before {
    content: "“";
    position: absolute;
    z-index: -1;
    line-height: 1;
    font-size: 5rem;
    transform: translate(-1rem, -1rem);
    color: var(--c-bg-alt);
  }

  p {
    margin-left: 1.5em;
  }

  cite {
    font-weight: bold;
    font-style: normal;
    font-size: 75%;

    &::before {
      content: "― ";
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%;

  th,
  td {
    padding: 1.5%;
    border: 1px solid;
  }

  th {
    font-weight: bold;
    vertical-align: bottom;
  }
}

hr {
  width: auto;
  height: 2rem;
  margin-top: 2rem;
  border: none;
  text-align: center;
  color: var(--c-bg-alt);

  &::after {
    content: "* * *";
    display: block;
    font-size: 1.5rem;
  }
}

button,
[type=button],
[type=reset],
[type=submit] {
  border: 1px solid var(--c-txt-alt);

  &:hover {
    border-color: $accent;
  }

  &:active {
    border-style: dashed;
  }
}

input[type=text],
input[type=email],
input[type=url] {
  width: 100%;
  border: 1px solid var(--c-txt-alt);
  border-width: 0 0 1px 0;
  background-color: transparent;
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 2px 6px;
  border: 1px solid var(--c-txt-alt);
  background-color: transparent;
}

.feather {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

.content {
  text-justify: inter-ideograph; //For IE/Edge
  overflow-wrap: break-word;

  figure {
    height: auto;
    margin: 0;
    text-align: center;
  }

  figcaption>p {
    margin-top: .1rem;
    margin-bottom: 1rem;
    font-size: 75%;
    font-style: italic;
    color: var(--c-txt-alt);
  }

  figure.left {
    float: left;
    margin-right: 1em;
    max-width: 40%;
    text-align: left;
  }

  figure.right {
    float: right;
    margin-left: 1em;
    max-width: 40%;
    text-align: right;
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  video,
  iframe {
    max-width: 100%;
    height: auto;
  }
}

.post-info {
  margin-top: -1.75rem;
  line-height: normal;
  font-size: 90%;
  font-style: italic;
  color: var(--c-txt-alt);
}

.footnotes {
  font-size: 75%;

  p {
    margin: 0;
  }

  hr::after {
    content: "# FOOTNOTES #";
    font-size: 1rem;
  }
}

a.footnote-backref {
  text-decoration: none;
}

a.footnote-ref {
  padding: 1px 2px;
  line-height: normal;
  font-size: 80%;
  border-radius: 2px;
  text-decoration: none;
  background-color: var(--c-bg-alt);
  transition-property: background-color;

  &:hover {
    color: $accent;
  }
}

.post-footer {
  margin-top: 3rem;
  font-size: 75%;
}

.post-tag {
  margin-right: .5em;
  margin-bottom: .5rem;

  &::before {
    content: "#";
  }
}

.post-group {
  margin-top: 2rem;
}

.post-year {
  margin-bottom: .75em;
  line-height: 1;
  font-size: 150%;
  font-family: $serif-fonts;
  font-style: italic;
}

.post-list {
  margin: 0;
}

.post-item {
  display: flex;
  margin-bottom: .25rem;
}

.post-day {
  display: inline-block;
  min-width: 4em;
}

@import "partials/comments", "partials/gallery";

@media all and (min-width: 550px) {
  .post-group {
    display: flex;
    gap: 1.5rem;
  }

  .recent-posts-list a {
    display: inline;
  }
}

@media all and (min-width: 992px) {
  h1 {
    margin-top: 3rem;
  }
}

@media all and (min-width: 1300px) {
  h1 {
    margin-top: 7rem;
  }

  figure.big {
    width: 70rem;
    margin-left: -10rem;
    margin-block: 3rem;
  }

  figure.left {
    margin-left: -10rem;
  }

  figure.right {
    margin-right: -10rem;
  }
}
