@import "predefined.scss", "modern-normalize.scss", "syntax.scss";

:root {
  --offset: 0;
  --vw: 1vw;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  --c-bg: #faf9f8;
  --c-bg-alt: #edebe9;
  --c-txt: #3b3a39;
  --c-txt-alt: #605e5c;
}

@media (prefers-color-scheme: dark) {
  body {
    --c-bg: #201f1e;
    --c-bg-alt: #3b3a39;
    --c-txt: #d2d0ce;
    --c-txt-alt: #a19f9d;
  }
}

body,
button,
input,
select,
textarea {
  color: var(--c-txt);
  background-color: var(--c-bg);
  line-height: 1.6em;
  font-family: $fonts;
  letter-spacing: .06em;
  transition: background-color .5s, color .5s;
}

pre,
code,
pre tt {
    font-family: $mono-fonts;
    letter-spacing: normal;
}

pre {
  padding: .7em 1.1em;
  overflow: auto;
  font-size: .9em;
  line-height: 1.5;
  white-space: pre;
  border-radius: 4px;
  code {
    padding: 0;
    margin: 0;
    background: transparent;
  }
}

code {
  background: var(--c-bg-alt);
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 4px;
  letter-spacing: normal;
}

blockquote {
  margin: 1.5em 1em;
  font-style: italic;
  color: var(--c-txt-alt);
  &::before {
    content: "“ ";
    position: absolute;
    opacity: 0.3;
    font-size: 80px;
    transform: translate(-16px,5px);
  }

  p {
    margin-left: 1.2em;
  }
  cite {
    font-weight: bold;
    font-style: normal;
    margin-left: 1em;
    &::before {
    content: "—— ";
    }
  }
}

a {
  color: var(--c-txt);
  text-decoration: none;
  border-bottom: solid 1px var(--c-bg-alt);
  transition: color .2s;
  &:hover {
    color: $accent;
    border-bottom-color: $accent;
  }

  &.icon-link {
    border-bottom: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%;

  th,
  td {
    padding: 1.5%;
    border: 1px solid;
  }

  th {
    font-weight: bold;
    vertical-align: bottom;
  }
}

hr {
  color: var(--c-bg-alt);
  border-top: none;
  border-width: 3px 0 0 0;
  border-style: dashed;
}

// Global layouts
//
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#bg-img {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  opacity: .05;
}

main#site-main {
  flex-grow: 1;
  margin-top: 1em;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

#home-btn {
  border: none;
  position: absolute;
  &>img{
    width: 1.5em;
    height: auto;
    border-radius: 50%;
  }
}
.title-area {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  margin-bottom: 2em;
  .title-area-l {
    flex: 1;
  }
}
h1#page-title {
  margin: 0;
  font-size: 2em;
  line-height: normal;
}

.feather {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

@import "partials/home.scss", "partials/404.scss";
@import "partials/single.scss", "partials/list.scss";
@import "partials/footer.scss", "partials/comments.scss";


@media all and (min-width: 550px) {
  html {
    font-size: 1.1em;
  }
  .wrapper#site-footer {
    display: flex;
    flex-direction: row-reverse;
    background: transparent;
  }
  .posts-group {
    display: flex;
  }
  .footer-l {
    flex: 1;
  }
  .site-nav > span {
    color: var(--c-bg-alt);
  }
  .social-icon > .icon-link {
    margin-left: .4em;
    margin-right: 0;
  }
  .recent-posts-list a {
    display: inline;
  }
}

@media all and (min-width: 810px) {
  main#site-main {
    margin-top: 3em;
  }
  .wrapper {
    max-width: 780px;
    text-align: justify;
  }
  #home-btn>img {
    width: 2em;
  }
  #page.error-404 {
    flex-direction: row;
  }
  .content a.anchor {
    float: left;
    margin-left: -1em;
  }
  .posts-group {
    display: flex;
  }
  .content figure.big {
    margin-left: calc(390px - var(--vw) * 50 - 1em);
  }
}

@media all and (min-width: 1250px) {
  main#site-main {
    margin-top: 4.5em;
  }
  .wrapper {
    max-width: 980px;
  }
  .content a.anchor {
    float: left;
    margin-left: -1em;
  }
  .posts-group {
    display: flex;
  }
  .content figure.big {
    margin-left: calc(490px - var(--vw) * 50 - 1em);
  }
}

@media all and (min-width: 1590px) {
  :root {
    --offset: 280px;
  }
  html {
    font-size: 1.2em;
  }
  main#site-main {
    margin-top: 6em;
  }
  #home-center, #home-footer {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .wrapper {
    width: 1028px;
    margin-left: var(--offset);
  }
  #toc-btn {
    display: none;
  }
  #toc {
    display: block!important;
    position: sticky;
    float: left;
    top: 2em;
    width: calc(var(--offset) - 2em);
    padding: 0 0 0 1em;
    margin-left: calc(0px - var(--offset));
    border-right: 1px dashed;
    border-radius: 0;
    background: transparent;
    text-align: right;
    .toc-title {
      display: block;
      padding-right: 1em;
      margin-top: 0;
      font-weight: bold;
    }
  }
  #TableOfContents {
    direction: rtl;
    font-size: .8em;
    a {
      display: inline;
    }
  }
  .content figure.big {
    width: calc(var(--vw) * 100 - var(--offset) - 1em);
    margin-left: 0;
    text-align: left;
    &>img {
      margin-left: 0;
    }
  }
}

@media all and (min-width: 1800px) {
  :root {
    --offset: 380px;
  }
}
