{{ define "main" }}
	<main class="wrapper">
		<h1>{{.Title}}</h1>
		{{ if .Content -}}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}

		{{- range (.Pages.ByParam "shot_date").Reverse}}
		<div class="album">
			{{ $abulmLink := .RelPermalink -}}
			<h2><a href="{{ $abulmLink }}" class="tdln">{{.Title}}</a></h2>
			<a href="{{ $abulmLink }}" class="album-row">
				{{ with .Resources.Match "*thumbnail*" -}}
				{{ range . -}}
				<img class="img-tile" loading="lazy" src="{{.RelPermalink}}" alt="thumbnail" width="{{.Width}}" height="{{.Height}}">
				{{- end }}
				{{- end }}
			</a>
		</div>
		{{- end }}
	</main>
	<hr>
{{- end }}