{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<main id="site-main" class="wrapper">
		<div class="title-area">
			<a id="home-btn" title="{{.Site.Title}}" href="{{.Site.BaseURL}}"><img src="/apple-touch-icon.png" width="180" height="180" alt="Logo"></a>
			<h1 id="page-title" class="title-area-l">{{ .Title }}</h1>
		</div>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		{{- range (.Pages.ByParam "shot_date").Reverse}}
		<div class="album">
			<div class="sidebar">
				<h2 class="album-title">
					{{ $abulmLink := .Permalink -}}
					<a href="{{ $abulmLink }}">{{.Title}}</a>
				</h2>
				<p class="album-info">{{ time.Format .Site.Params.dateform .Params.shot_date }}</p>
				<p class="album-info"><span class="separator"> &#183; </span>In {{.Params.location}}</p>
			</div>
			<a href="{{ $abulmLink }}" class="album-row">
				{{- range .Params.images -}}
				<div class="img-tile"><img src="{{. | absURL}}" loading="lazy"></div>
				{{- end -}}
			</a>
		</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
