{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<main id="site-main" class="wrapper">
		<article>
			<header class="post-header">
				<div class="title-area">
					<a id="home-btn" title="{{.Site.Title}}" href="{{.Site.BaseURL}}"><img src="/apple-touch-icon.png" width="180" height="180" alt="Logo"></a>
					<div class="title-area-l">
						<h1 id="page-title">{{ .Title }}</h1>
					</div>
				</div>
			</header>
			<div class="album-meta sidebar">
				{{ with .Params.location -}}
				<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg><b>{{ . }}</b></p>
				{{ end -}}
				<p>on {{time.Format .Site.Params.dateform .Params.shot_date}}</p>
				{{ with .Params.shot_with -}}
				<p>with {{ . }}</p>
				{{ end -}}
				{{ with .Params.description -}}
				<p class="album-desc">{{ . }}</p>
				{{ end -}}
			</div>
			<div class="content">
				{{ .Content }}
			</div>
		</article>
		<div class="post-nav">
			{{ $list := (where site.RegularPages "Type" "in" "gallery") }}
			{{- with ($list.ByParam "shot_date").Reverse.Next . }}
			<a class="next-post" href="{{ .Permalink }}">
				<span class="post-nav-label"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>&nbsp;Newer</span><br><span>{{ .Title }}</span>
			</a>
			{{- end }}
			{{- with ($list.ByParam "shot_date").Reverse.Prev . }}
			<a class="prev-post" href="{{ .Permalink }}">
				<span class="post-nav-label">Older&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></span><br><span>{{ .Title }}</span>
			</a>
			{{- end }}
		</div>
		<button type="button" id="scroll-top-btn" title="回到顶部"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="16 12 12 8 8 12"></polyline><line x1="12" y1="16" x2="12" y2="8"></line></svg></button>
		{{ partialCached "comments.html" . }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
