<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="color-scheme" content="dark light">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
	{{ if .IsHome -}}
	<meta name="keywords" content="{{ range .Keywords }}{{ . }}{{ end }}">
	{{ end }}
	{{- template "_internal/schema.html" . }}
	{{- template "_internal/opengraph.html" . }}
	{{- template "_internal/twitter_cards.html" . }}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#54bab9">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<link rel="dns-prefetch" href="//pb.zak.ee">
	<link rel="dns-prefetch" href="//seccdn.libravatar.org">
	<link rel="openid.delegate" href="https://zak.ee/">
	<link rel="openid.server openid2.provider" href="https://indieauth.com/openid">
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	{{ range .AlternativeOutputFormats -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end -}}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify |
	fingerprint -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr}}>
</head>

<body>
	{{ if not .IsHome -}}
	<header>
		<a title="主页" href="{{"" | relURL}}" class="home">← {{.Site.Title}}</a>
	</header>
	{{- end -}}
	{{ block "main" . }}
	{{ end }}
	{{- if not .IsHome }}
	<hr>
	{{- end }}
	<nav class="wrapper site-nav">
		<h2>Index / 索引</h2>
		<ul class="lsc">
			{{- range .Site.Menus.main -}}
			<li>
				<a href="{{ .URL }}" title="{{ .Params.description }}">{{ .Name }}</a>
			</li>
			{{- end }}
		</ul>
	</nav>
	<footer class="wrapper">
		<h2>About / 关于</h2>
		<ul class="lsn dim site-footer">
			<li>&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author.name }}</a>. Content licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank" rel="noopener">CC BY-NC 4.0</a>.</li>
			<li>Check "<a href="/about/" title="关于">About</a>" to learn more. Keep track via <a href="{{ "writing/index.xml" | absURL }}" target="_blank">RSS</a>.</li>
			<li class="tdln"><a href="https://xn--sr8hvo.ws/%F0%9F%90%A3%F0%9F%8E%91%F0%9F%8D%A5/previous">←</a> An <a href="https://xn--sr8hvo.ws/">IndieWeb Webring</a> 🕸💍 <a href="https://xn--sr8hvo.ws/%F0%9F%90%A3%F0%9F%8E%91%F0%9F%8D%A5/next">→</a></li>
		</ul>
	</footer>
	<script src="/js/instantpage-5.2.0.js" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
</body>

</html>
