<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#494f5c">
	<meta name="msapplication-TileColor" content="#494f5c">
	{{- template "_internal/schema.html" . }}
	{{- template "_internal/opengraph.html" . }}
	{{- template "_internal/twitter_cards.html" . }}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#494f5c">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>{{.Title}}</title>
	<link rel="dns-prefetch" href="https://assets.xxxlbox.com/">
	<link rel="dns-prefetch" href="//cdn1.lncld.net">
	<link rel="dns-prefetch" href="//unpkg.com">
	{{ range .AlternativeOutputFormats -}}
	{{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	{{ $style := resources.Get "scss/style.scss" | resources.ToCSS "css/style.css" | minify | fingerprint -}}
	<link rel="stylesheet" href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
	{{ block "head" . -}}{{- end }}
</head>

<body id="page">
	{{ block "header" . -}}{{ end -}}
	{{ block "main" . -}}{{ end -}}
	{{ block "footer" . -}}{{ end }}
	{{ $mainjs := resources.Get "js/main.js" -}}
	{{ $quicklinkjs := resources.Get "js/quicklink.umd.js" -}}
	{{ $script := slice $mainjs $quicklinkjs | resources.Concat "js/bundle.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
	<script>
		quicklink({
			ignores: [uri => uri.includes('index.xml')]
		});
	</script>
	{{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
