{{ define "main" }}
		<div class="page-title">
			<h1>{{.Title}}</h1>
		</div>
		<div class="content">
			{{ with .Content -}}{{ . }}{{ end }}
		</div>
		{{ range .Pages.GroupByDate "2006" -}}
		<section class="section">
			<div class="section-title">
				<h2 id="{{ .Key }}">{{ .Key }}</h2>
			</div>
			<ul class="lsn">
				{{ range .Pages -}}
				<li>
					<a href="{{.RelPermalink}}" class="post-item tdln">
						<span>{{.Title}}</span>
						<span class="dotted-line"></span>
						<time class="dim">{{ .Date.Format "01-02" }}</time>
					</a>
				</li>
				{{- end }}
			</ul>
		</section>
		{{ end -}}
{{- end }}