{{ define "main" }}
		<div class="content">
			{{ with .Content -}}{{ . }}{{ end }}
			{{ range .Pages.GroupByDate "2006" -}}
			<section class="section">
				<div class="section-title">
					<h2 id="{{ .Key }}">{{ .Key }}</h2>
				</div>
				<ul class="lsn">
					{{ range .Pages -}}
					<li class="post-item">
						<a href="{{.RelPermalink}}" class="tdln post-title">
							{{.Title}}
							{{- with .Params.description -}}
							<div class="description dim">{{ . }}</div>
							{{ end -}}
						</a>
						<span class="dim">{{ .Date.Format "01/02" }}</span>
					</li>
					{{- end }}
				</ul>
			</section>
			{{ end -}}
		</div>
{{- end }}