{{ define "head" }}
	{{ if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>:root{ --bg-img: url({{. | absURL}});}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<main id="site-main" class="wrapper">
		<div class="title-area">
			<a id="home-btn" title="{{.Site.Title}}" href="{{.Site.BaseURL}}"><img src="/apple-touch-icon.png" width="180" height="180" alt="Logo"></a>
			<h1 id="page-title" class="title-area-l">{{ .Title }}</h1>
		</div>
		<div class="content">
			{{ .Content }}
		</div>
		{{ with .Params.comments -}}
		{{ partialCached "comments.html" . }}
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
