{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner">
		<article class="thin">
			<header class="post-header">
				<h1>{{ .Title }}</h1>
				<p class="post-meta">{{- .Date.Format .Site.Params.dateformSingle }} &#183; {{ .ReadingTime }} min read</p>
			</header>
			<div class="content">
				{{ .Content }}
			</div>
			<hr class="post-end">
			<footer class="post-info">
				{{- with .Params.tags }}
				<p>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
					{{- range . }}
					<span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{.}}</a></span>
					{{- end }}
				</p>
				{{- end }}
				<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg> {{ .WordCount }} Words</p>
				<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> {{ dateFormat .Site.Params.dateformFull .Date.Local }}</p>
			</footer>
		</article>
		{{ partial "comments.html" . }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
	<script>
		let haveHeader = true;
		let haveComments = true;
	</script>
{{ end }}