	<footer id="site-footer" class="wrapper">
		<div class="footer-inner">
			<div class="footer-l">
				<nav class="site-nav">
					<a href="{{.Site.BaseURL}}">Home</a><span>&#47;</span>
					{{- range .Site.Menus.main -}}
					<a href="{{ .URL }}">{{ .Name }}</a><span>&#47;</span>
					{{- end }}
				</nav>
			</div>
			<div class="footer-r">
				<p class="site-copy">&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a> &#183; <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank" rel="noopener">CC BY-NC 4.0</a> &#183; <a href="{{ "writing/index.xml" | absURL }}" target="_blank" title="RSS" class="icon-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a></p>
			</div>
		</div>
	</footer>
