{{ define "head" }}
	{{ if .Site.Params.bgImg -}}
	<style>:root{ --bg-img: url({{.Site.Params.bgImg | absURL}});}</style>
	{{- end -}}
	{{.Scratch.Set "pageClass" "error-404"}}
{{ end }}

{{ define "main" }}
	<p class="img-404">
		<img src="{{ "img/404.png" | absURL }}" alt="Nothing Found">
	</p>
	<div class="banner-404">
		<h1>404</h1>
		<p>Oops, page not found…</p>
		<p class="btn-404">
			<a href="{{.Site.BaseURL}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>&nbsp;Home</a>
			<a href="{{ "writing" | absURL }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>&nbsp;Archives</a>
		</p>
	</div>
{{ end }}
