{{ define "main" }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
			<h1 id="home-title">Track3's Blog</h1>
			{{- with .Site.Params.social }}
			<div id="home-social">
				{{ partialCached "social-icons.html" . }}
			</div>
			{{- end }}
			<nav id="home-nav" class="site-nav">
				{{- range .Site.Menus.main }}
				<a href="{{ .URL }}">{{ .Name }}</a>
				{{- end }}
			</nav>
		</div>
		<div id="home-footer">
			<p>&copy; 2018 <a href="https://www.xxxlbox.com">{{ .Site.Author.name }}</a>. Some Rights Reserved.</p>
		</div>
	</div>
{{ end }}

{{ define "footer" }}
	<script>let haveHeader = false, haveComments = false;</script>
{{ end }}