{{ define "main" }}
		{{ with .Content -}}
		<div class="content">
			{{ . }}
		</div>
		{{- end }}

		{{- range (.Pages.ByParam "shot_date").Reverse}}
		<section class="section">
			<a href="{{ .RelPermalink }}" class="tdln section-title">
				<h2>{{.Title}}</h2>
			</a>
			<a href="{{ .RelPermalink }}" class="album-row">
				{{ with .Resources.Match "*thumbnail*" -}}
				{{ range . -}}
				<img class="img-tile" loading="lazy" src="{{.RelPermalink}}" alt="thumbnail" width="{{.Width}}" height="{{.Height}}">
				{{- end }}
				{{- end }}
			</a>
		</section>
		{{- end }}
{{- end }}