{{ define "main" }}
		<div class="page-title">
			<h1>{{.Title}}</h1>
		</div>
		<div class="content">
			{{ with .Content -}}{{ . }}{{ end }}
		</div>
		{{- range (.Pages.ByParam "shot_date").Reverse}}
		<section class="section tdln">
			<a href="{{ .RelPermalink }}" class="section-title">
				<h2>{{.Title}}</h2>
			</a>
			<a href="{{ .RelPermalink }}" class="album-row">
				{{ with .Resources.Match "*thumbnail*" -}}
				{{ range . -}}
				<img class="img-tile" loading="lazy" src="{{.RelPermalink}}" alt="thumbnail" width="{{.Width}}" height="{{.Height}}">
				{{- end }}
				{{- end }}
			</a>
		</section>
		{{ end -}}
{{- end }}